{{ define "templates/layouts/html/header"}}

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{.APP_NAME}}</h1>
	</div>
<!-- End Site Title
================================================== -->
{{end}}